.hr {
  width: 100%; height: 50px;
  background-image: url(../images/pattern-hr.png), url(../images/bg-black.jpg);
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-position: center;
}