.ic-close {
  width: 62px; height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s ease-in-out;
  border-radius: 30px;
  border: 1px solid $dark;
  opacity: 1;
  background: transparent;
  svg { fill: $dark; }
  outline: none!important;
  &:hover {
    opacity: .5;
  }
  @media (max-width: 854px) { right: 40px; }
  @media (max-width: 480px) {
    width: 50px; height: 32px; right: 15px;
    svg { width: 18px; height: 18px; }
  }

  &.close-small {
    width: 48px; height: 30px;
    svg { width: 17px; height: 17px; }
  }
  &.position-absolute {
    top: 30px; right: 30px;
  }
}

.modal {
  &-dialog {
    box-shadow: 0px 10px 25px rgba($color: $black, $alpha: .11);
  }
  &-header {
    position: relative;
    justify-content: center;
    background-image: url(../images/bg-pattern.png);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto;
    text-align: center;
    box-shadow: 0px 5px 10px rgba($color: $dark, $alpha: .08);
    &:not(:first-child) { box-shadow: 0px 5px 10px rgba($color: $dark, $alpha: .08); }
    @media (max-width: 1139px) { padding-left: 140px; padding-right: 140px; }
    @media (max-width: 854px) { padding-left: 100px; padding-right: 100px; }
    @media (max-width: 480px) { padding-left: 70px; padding-right: 70px; }

    .ic-close {
      position: absolute;
      right: 82px; top: 50%;
      transform: translateY(-50%);
    }
  }
  &-body {
    position: relative;
    @media (max-width: 1139px) { padding-left: 80px; padding-right: 80px; }
    @media (max-width: 854px) { padding-left: 40px; padding-right: 40px; }
    @media (max-width: 480px) { padding-left: 15px; padding-right: 15px; }
  }
  &#productModal {
    .modal-dialog {
      max-width: 825px;
      @media (max-width: 1139px) { max-width: 821px; }
      @media (max-width: 854px) { max-width: 96%; }
    }
  }
  &#loginModal {
    .modal-dialog {
      max-width: 445px;
      @media (max-width: 1139px) { max-width: 445px; }
      @media (max-width: 500px) { width: 445px; max-width: 96%; }
    }
    .modal-header {
      padding: 58px 30px 25px;
      background: transparent;
      .ic-close {
        top: 16px; right: 10px;
        transform: none;
      }
    }
    .modal-body {
      padding: 23px 30px 16px;
    }
    @media (max-width: 480px) {
      .modal-content {
        padding-left: 15px;
        padding-right: 15px;
      }
      .modal-body,
      .modal-header {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &#mapModal {
    .modal-dialog {
      max-width: 825px;
      @media (max-width: 1199px) { max-width: 780px; }
      @media (max-width: 1139px) { max-width: 652px; }
      @media (max-width: 854px) { max-width: 96%; }
    }
    .modal-header {
      padding: 25px 150px;
      @media (max-width: 854px) { padding: 25px 120px; .ic-close { right: 50px; } }
      @media (max-width: 480px) { padding: 25px 80px; .ic-close { right: 24px; } }
      @media (max-width: 413px) { padding: 25px 60px; .ic-close { right: 15px; } }
    }
    .modal-body {
      padding: 35px 65px 30px;
      @media (max-width: 1199px) { padding: 35px 37px 30px; }
      @media (max-width: 1139px) { padding: 25px 33px 15px; }
      @media (max-width: 854px) { padding: 35px 35px 30px; }
      @media (max-width: 480px) { padding: 35px 15px 30px; }
    }
    .form-group label+.form-control {
      height: 40px;
    }
    .btn-define {
      position: relative;
      padding: 15px 0 15px 17px;
      svg {
        position: absolute;
        left: 17px; top: 50%;
        transform: translateY(-50%);
        width: 24px; height: 24px;
        fill: transparent;
        stroke: $dark;
      }
      &:hover {
        border-color: $red;
        box-shadow: none;
        svg { stroke: $red; }
      }
      &:focus,
      &:active,
      &.active {
        border-color: $dark;
        box-shadow: none;
        color: $red!important;
        svg { stroke: $dark; }
      }
    }
    .alert-danger {
      margin: 0 -65px;
      padding: 16px 65px;
      color: $white;
      text-align: center;
      border-radius: 0;
      background-color: $red;
      @media (max-width: 1199px) { margin: 0 -37px; }
      @media (max-width: 1139px) { margin: 0 -33px; }
      @media (max-width: 854px) { margin: 0 -35px; }
      @media (max-width: 480px) { margin: 0 -15px; }
    }
    .map {
      position: relative;
      width: 100%; height: 330px;
      margin-top: 30px;
      border-radius: 15px;
      overflow: hidden;
      #map {
        position: relative;
        z-index: 0;
        width: 100%; height: 100%;
      }
      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%; height: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.86) 11.12%, rgba(255, 255, 255, 0) 53.13%, rgba(255, 255, 255, 0.76) 88.75%, #FFFFFF 100%);
      }
      .btn {
        position: absolute;
        left: 50%; bottom: 20px;
        transform: translateX(-50%);
        z-index: 2;
        width: 190px;
        padding: 9px;
      }
    }
  }
  &#orderModal {
    .modal-dialog {
      max-width: 1100px;
      @media (max-width: 1139px) { max-width: 96%; }
    }
    .modal-body {
      position: relative;
      .ic-close {
        position: absolute;
        top: 22px; right: 55px;
        transform: none;
        @media (max-width: 800px) {
          right: 15px;
        }
      }
    }
    .order-item-photo {
      width: 112px;
      min-width: 112px;
    }
    .order-item-info {
      flex-direction: row;
    }
    @media (max-width: 960px) {
      .orders {
        border-top: 1px solid rgba(52, 51, 48, 0.3);
        border-bottom: 1px dashed rgba(52, 51, 48, 0.3);
      }
      .order-total {
        border-top: none!important;
      }
    }
    @media (max-width: 680px) {
      .order-item-content { align-items: flex-start; }
      .order-item-info {
        flex-wrap: wrap;
        & > div:not([class]) { min-width: 100%; margin-bottom: 20px; }
        .col-1 {
          flex: 0 0 20%;
          max-width: 20%;
        }
        .col-3 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }
      .col-12.col-sm-6.col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
    @media (max-width: 550px) {
      .order-item-price { position: static; }
      .order-item-content { padding: 0; }
      .order-item-photo {
        width: 107px;
        min-width: 107px;
      }
    }
  }
  &#orderRepeatModal {
    .modal-dialog {
      max-width: 1100px;
      @media (max-width: 1139px) { max-width: 96%; }
    }
    .modal-header {
      padding: 30px 70px;
      background: transparent;
      border-bottom: 1px solid rgba(52, 51, 48, 0.4);
      box-shadow: none;
      @media (max-width: 680px) {
        h4 {
          font-size: 18px;
        }
        .ic-close {
          right: 15px;
        }
      }
    }
    .modal-body {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .order-item {
      margin: 0;
      &-photo {
        width: 125px;
        min-width: 125px;
      }
      a {
        color: $blue;
      }
      &-content {
        padding-bottom: 0;
        @media (max-width: 680px) {
          align-items: flex-start!important;
        }
      }
      &-info {
        flex-direction: row;
        @media (max-width: 680px) {
          flex-wrap: wrap;
          .col-5,
          .col-3 {
            flex: 0 0 100%;
            max-width: 100%;
          }
          .col-1 {
            flex: 0 0 20%;
            max-width: 20%;
            margin: 20px 0;
          }
          .col-3.order-item-price {
            position: static;
            flex: 0 0 80%;
            max-width: 80%;
            text-align: right;
            margin: 20px 0;
          }
        }
      }
    }
    hr {
      border-style: dashed;
      border-color: rgba(52, 51, 48, 0.2);
    }
    .alert-danger {
      margin: 15px -83px;
      padding: 16px 65px;
      font-weight: 700;
      font-size: 20px;
      color: $red;
      text-align: center;
      border-radius: 0;
      border: none;
      border-top: 1px solid rgba(52, 51, 48, 0.4);
      border-bottom: 1px solid rgba(52, 51, 48, 0.4);
      background-color: transparent;
      @media (max-width: 1139px) { margin: 15px -80px; }
      @media (max-width: 854px) { margin: 15px -40px; }
      @media (max-width: 480px) { margin: 15px -15px; }
    }
  }
}