footer
  .container
    .footer
      .row
        .col-lg-5.col-sm-4.col-6
          +svg("logo-white")(width="156" height="126")
          .footer-app
            a(href="#")
              +svg("app-store-link")
            a(href="#")
              +svg("google-play-link")
        .col-lg-7.col-sm-8.col-6
          .row.align-items-stretch
            .col-lg-3.col-md-3.col-sm-6
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href="#") Компания
                li.nav-item
                  a.nav-link(href="#") Наша кухня
                li.nav-item
                  a.nav-link(href="#") Оплата и доставка
                li.nav-item
                  a.nav-link(href="#") Контакты
            .col-lg-5.col-md-4.col-sm-6.pr-10.pr-sm-15.pl-lg-40
              ul.nav.flex-column
                li.nav-item
                  a.nav-link(href="#") Партнерам
                li.nav-item
                  a.nav-link(href="#") Вакансии
                li.nav-item
                  a.nav-link(href="#") Корпоративным клиентам
                li.nav-item
                  a.nav-link(href="#") Условия использования 
            .col-lg-4.col-md-5.col-sm-6.p-lg-0.mt-sm-25.mt-md-0.d-none.d-sm-block
              .footer-social
                a(href="#")
                  +svg("ic-instagram")(width="26" height="26")
                a(href="#")
                  +svg("ic-facebook")(width="13" height="22")
                a(href="#")
                  +svg("ic-vk")(width="29" height="18")
                a(href="#")
                  +svg("ic-youtube")(width="26" height="20")
                a(href="#")
                  +svg("ic-twitter")(width="27" height="21")
              .bazil-1
                img(src="./images/bazil-1.png", alt="")
              .bazil-2
                img(src="./images/bazil-2.png", alt="")
            .col-md-3.col-sm-6.col-6.align-items-center.mt-md-15.mt-sm-25.d-none.d-sm-flex
              a(href="#") Карта сайта
            .col-md-9.col-sm-12.col-6.pl-lg-40.mt-md-15.mt-sm-30.d-none.d-sm-block
              span Copyright © 2020. «Мама Жарит». Все права защищены. Нелегальное копирование материала преследуется по закону.
      .row.d-sm-none.mt-20
        .col-6
          .footer-social
            a(href="#")
              +svg("ic-instagram")(width="26" height="26")
            a(href="#")
              +svg("ic-facebook")(width="13" height="22")
            a(href="#")
              +svg("ic-vk")(width="29" height="18")
            a(href="#")
              +svg("ic-youtube")(width="26" height="20")
            a(href="#")
              +svg("ic-twitter")(width="27" height="21")
          .bazil-1
            img(src="./images/bazil-1.png", alt="")
          .bazil-2
            img(src="./images/bazil-2.png", alt="")
        .col-6.col-6.d-flex.align-items-center
          a(href="#") Карта сайта
        .col-12.mt-20
          span Copyright © 2020. «Мама Жарит». Все права защищены. Нелегальное копирование материала преследуется по закону.

